## Project: Data Cleaning with Pandas

#### Below will be a series of user stories, followed by an empty Python code block
* These user stories will go through the process of importing, cleaning, and exporting the included `dirty_cars_dataset.csv` file
* Be sure to read each question carefully, and to test and debug your code to ensure the user story is completed correctly!

### As a Data Analyst, I want to set up the proper imports so I have access to the Pandas library

In [1]:
import pandas as p

### As a Data Analyst, I want to import and store the `dirty_cars_dataset.csv` file in a variable
✅ I want to use the `index` column from this .csv file as the `index column` of my DataFrame

In [3]:
car_df = pd.read_csv("dirty_cars_dataset.csv", index_col= "index")

car_df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,1650000.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

### As a Data Analyst, I want to view the **information** about my new DataFrame to answer the following questions:
##### Enter your responses in the Markdown block below

* How many entries are in this DataFrame: 
* How many columns are in this DataFrame:
* Which column(s) contain null values in this DataFrame:

In [4]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           64 non-null     object
 1   body-style        64 non-null     object
 2   wheel-base        64 non-null     float64
 3   length            64 non-null     float64
 4   engine-type       64 non-null     object
 5   num-of-cylinders  64 non-null     object
 6   horsepower        64 non-null     int64
 7   average-mileage   64 non-null     int64
 8   price             61 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 5.0+ KB

### As a Data Analyst, I want to to remove any null values from the DataFrame
✅ I want to **create a new DataFrame variable** when I remove these null values<br>
✅ Then, I want to display the **information** about my new DataFrame, to confirm the null values were successfully removed

In [5]:
cars_nonull_df = car_df.dropna()
cars_nonull_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           61 non-null     object
 1   body-style        61 non-null     object
 2   wheel-base        61 non-null     float64
 3   length            61 non-null     float64
 4   engine-type       61 non-null     object
 5   num-of-cylinders  61 non-null     object
 6   horsepower        61 non-null     int64
 7   average-mileage   61 non-null     int64
 8   price             61 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 4.8+ KB

### As a Data Analyst, I want to check if there are any **duplicate rows** within my DataFrame

In [6]:
cars_nonull_df.duplicated()

index
0     False
1     False
2     False
3     False
4     False
      ...
82    False
83     True
86    False
87    False
88    False
Length: 61, dtype: bool

### As a Data Analyst, I want to **remove** any duplicate values from the DataFrame
✅ I want to **create a new DataFrame variable** when I remove these duplicate values<br>
✅ I want to again check if there are any duplicate rows within my DataFrame, to ensure the values were removed successfully

In [7]:
cars_nodup_df = cars_nonull_df.drop_duplicates()
cars_nodup_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           58 non-null     object
 1   body-style        58 non-null     object
 2   wheel-base        58 non-null     float64
 3   length            58 non-null     float64
 4   engine-type       58 non-null     object
 5   num-of-cylinders  58 non-null     object
 6   horsepower        58 non-null     int64
 7   average-mileage   58 non-null     int64
 8   price             58 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 4.5+ KB

### As a Data Analyst, I want to ensure I remove any outlier values from my DataFrame to avoid inaccurate analysis of my data
✅I want to **create a new DataFrame variable** when I remove these values<br><br>
💡 **Hint:** These inaccuracies will be within the `price` column 💡<br><br>
💡 **Hint** There will be both **high** and **low** outlier values 💡

In [15]:
# Removing high outlier values
cars_nooutlier_df = cars_nodup_df.drop(2)
cars_nooutlier_df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
26,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
48,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
53,nissan,sedan,94.5,165.3,ohc,four,55,45,709.0
54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [16]:
# Removing low outlier values
cars_removeoutlier_df = cars_nooutlier_df.drop(53)
cars_removeoutlier_df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
16,chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
26,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
35,jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
39,mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
44,mercedes-benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
45,mercedes-benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
46,mercedes-benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
47,mercedes-benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
48,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### As a Data Analyst, I want to reformat the **company** series, ensuring all company name values are properly title (Pascal) cased

In [18]:
cars_removeoutlier_df["company"] = cars_removeoutlier_df["company"].str.title()
cars_removeoutlier_df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
3,Audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,Audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,Audi,sedan,99.8,177.3,ohc,five,110,19,15250.0

### As a Data Analyst, I want to create a ***new*** column on my DataFrame to represent the **price of each car in Euros**
💡 **Use the conversion rate 1.05 USD == 1 Euro** 💡

In [19]:
cars_removeoutlier_df["price-Euros"] = cars_removeoutlier_df["price"] * 1.05
cars_removeoutlier_df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,price-Euros
index,,,,,,,,,,
0,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,14169.75
1,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,17325.00
3,Audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,14647.50
4,Audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,18322.50
5,Audi,sedan,99.8,177.3,ohc,five,110,19,15250.0,16012.50

### As a Data Analyst, I want to rename the existing **price** column to show that it represents **price in USD**

In [21]:
cars_removeoutlier_df = cars_removeoutlier_df.rename(columns= {"price":"price-USD"})
cars_removeoutlier_df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price-USD,price-Euros
index,,,,,,,,,,
0,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,14169.75
1,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,17325.00
3,Audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,14647.50
4,Audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,18322.50
5,Audi,sedan,99.8,177.3,ohc,five,110,19,15250.0,16012.50

### As a Data Analyst, I want to output my cleaned DataFrame as a .csv file
✅ I want to name this file `cleaned_cars_dataset.csv`<br>
✅ I want to specify the encoding type 'utf-8'<br>
✅ I want to include this .csv file in my GitHub repository